header{
    display: flex;
    flex-direction: row;
    background-color: #5c5c5c;
    justify-content: center;
    align-items: center;
    height: 12vh;
    color: white;
    margin: 0;
}

.varukorg-item{
    padding-top: 2vh;
    font-size: 1.75vmax;
}

.varor{
    margin-top: 3vh;
    min-height: 30vh;
    background-color: silver;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-bottom: 3vh;
    padding-right: 3vw;
    padding-left: 2vw;
}

.varor-rubrik{
    text-align: center;
    width: 60vw;
    font-size: 3vh;
}

.total{
    margin-top: 3vh;
    display: flex;
    height: 10vh;
    background-color: silver;
    margin-left: 20vw;
    margin-right: 20vw;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    padding: 1vh;
}

.rabattkod{
    display: flex;
    flex-direction: row;
    background-color: yellow;
    padding: 1vh;
    width: 80vw;
    height: 10vh;
    margin-top: 3vh;
    margin-left: 10vw;
    margin-right: 10vw;
    border: 0.5vh solid rgb(87, 87, 87);
    font-size: 3vh;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#applicera-rabattkod{
    min-width: 5vw;
    font-size: 2vmax;
    min-height: 4vh;
}

#rabattkod-input{
    width: 12.5vw;
    font-size: 2vmax;
    height: 4vh;
}

.rabattkod * {
    margin-left: 2vh;
}

.betala{
    margin-top: 3vh;
    background-color: lime;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 10vh;
    font-size: 5vh;
    font-weight: bold;
    border: 0.5vh solid rgb(87, 87, 87);
}

.fortsätt-handla{
    margin-top: 3vh;
    background-color: silver;
    margin-left: 10vw;
    margin-right: 10vw; 
    width: 80vw;
    min-height: 10vh;
    font-size: 5vh;
    font-style: italic;
    transition: transform 0.2s ease-in-out;
    border: 0.5vh solid rgb(87, 87, 87);
}

.rensa-varukorgen{
    margin-top: 3vh;
    background-color: darkred;
    color: white;
    margin-left: 10vw;
    margin-right: 10vw; 
    width: 80vw;
    min-height: 10vh;
    font-size: 5vh;
    transition: transform 0.2s ease-in-out;
    border: 0.5vh solid rgb(87, 87, 87);
}

.fortsätt-handla:hover, .betala:hover, .rensa-varukorgen:hover{
    cursor: pointer;
    transform: scale(1.05);
}
